<div class="form-wrapper">
    <form class="form-control">
        <mat-form-field>
            <mat-label>
                User ID
            </mat-label>
            <input matInput required type="text" minlength="3"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Password
            </mat-label>
            <input type="password" matInput required minlength="6"/>
        </mat-form-field>

        <button mat-flat-button> LOGIN</button>

    </form>
</div>